.background-info {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(&quot;https://res.cloudinary.com/dxfq3iotg/image/upload/v1567672484/Untitled_design_7.png&quot;);
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: repeat, repeat
}